body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    align-items: center;
    flex-direction: column;
}

.main-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease, border-color 0.3s ease;
    max-height: 60px; 
    padding: 20px; 
    width: 300px;
    border: 2px solid transparent;
}

.card.expanded {
    max-height: 500px;
    padding: 20px;
    border-color: #FF6B6B;
    background-color: #f7f3f3 ;
}


.card h3 {
    margin: 0;
}

.offer {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.offer-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FF6B6B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.offer-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 66px;
    margin-top: -33px;
}

.offer-content {
    margin-left: 18px;
}

.offer-title {
    font-weight: bold;
}

.offer-price {
    color: #333;
}

.discounted-price {
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
}

.most-popular {
    background-color: #FF6B6B;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 10px;
    position: absolute;
    top: 17px;
    right: 0px;
}

.selection {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.selection p {
    margin: 0;
}

.selection select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer p {
    margin: 5px 0;
}

.button .add-button {
    background-color: #FF6B6B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 344px;
}
